.app-header {
    background-color: #fff;

    &.is-home {
        position: sticky;
        top: 0;
        z-index: 5;

        @include for-narrow-layout {
            background-color: unset;
        }

        .top-header {
            .modal-btn {
                @include for-narrow-layout {
                    color: #fff;
                }
            }

            .logo {
                margin-left: 15px;

                @include for-narrow-layout {
                    flex: 1;
                }

                h2 {
                    @include for-narrow-layout {
                        color: #fff;
                    }
                }
            }

            .nav {
                @include for-narrow-layout {
                    color: #fff;
                }

                li {
                    >* {
                        &:hover {
                            color: #fff;
                        }
                    }
                }

                .join-btn {
                    p {
                        color: #555555;

                        &:hover {
                            border-color: $clr1;
                        }

                        @include for-narrow-layout {
                            color: #fff;
                            border-color: #fff;
                        }
                    }
                }
            }
        }

        &.header-scrolled {
            background-color: #fff;

            .top-header {
                color: $clr2;

                .modal-btn {
                    color: #555555;
                }

                .logo {
                    h2 {
                        color: $clr2;
                    }
                }

                .nav {
                    color: #62646a;

                    ul {
                        li {
                            >* {
                                &:hover {
                                    color: $clr1;
                                }
                            }
                        }

                        .join-btn {
                            p {
                                color: #62646a;

                                @include for-narrow-layout {
                                    color: rgb(25, 164, 99);
                                    border: 1px solid rgb(25, 164, 99);
                                    &:hover{
                                        color: #fff;
                                        background-color: green;
                                    }
                                }
                            }
                        }
                    }
                }

            }
        }
    }

    .top-header {
        height: 80px;
        color: $clr2;
        width: 100%;
        justify-content: space-between;

        .modal-btn {
            color: #555555;

            @include for-wide-layout {
                display: none;
            }
        }

        .logo {
            margin-bottom: 10px;
            align-items: baseline;
            margin-left: 5px;

            @include for-wide-layout {
                margin-left: 0;
            }

            h2 {
                font-family: Helvetica, sans-serif;
                font-size: 30px;
                font-weight: bold;
                letter-spacing: -2px;
                color: #393939;

                // @include for-narrow-layout {
                //     color: white;
                // }
            }

            span {
                display: inline-block;
                color: $clr1;
                font-family: serif;
                border-radius: 50%;
                font-size: 40px;
                font-weight: bold;
            }
        }

        .input-container {
            display: none;

            @include for-narrow-layout {
                display: flex;
                margin-left: 20px;
                height: 42px;
                max-width: 550px;
            }


            .input-wrapper {
                input {
                    border: 1px solid lightgray;
                    padding-left: 10px;

                    @include for-normal-layout {
                        border-radius: 4px 0 0 4px;
                    }
                }

                input::placeholder {
                    letter-spacing: 1px;
                }
            }

            button {
                display: none;

                @include for-normal-layout {
                    display: inline-block;
                    background-color: #222325;
                    max-width: 50px;
                }
            }
        }

        .nav {
            font-weight: 600;
            margin-left: 32px;
            justify-content: flex-end;

            ul {
                li {
                    padding: 5px 17px;

                    >* {
                        cursor: pointer;

                        &:hover {
                            color: $clr1;
                        }
                    }
                }

                .nal {
                    display: none;

                    @include for-narrow-layout {
                        display: inline-block;
                    }
                }

                .nol {
                    display: none;

                    @include for-normal-layout {
                        display: inline-block;
                    }
                }

                .join-btn {
                    p {
                        cursor: pointer;
                        padding: 5px 17px;
                        border-radius: 4px;

                        &:hover {
                            color: #95979d;
                        }
                    }

                    @include for-narrow-layout {
                        p {
                            color: rgb(25, 164, 99);
                            border: 1px solid rgb(25, 164, 99);



                            &:hover {
                                background-color: $clr1;
                                color: #fff;
                            }
                        }
                    }

                    transition: all .2s ease;
                }
            }
        }
    }

    transition: all .3s ease-in;
}

.categories-container {
    height: 40px;
    z-index: 1;
    width: 100%;
    background-color: #fff;
    border-top: 1px solid lightgray;
    border-bottom: 1px solid lightgray;

    &.is-home {
        position: fixed;
        transform: rotateX(90deg);
        visibility: hidden;

        @include for-narrow-layout {
            visibility: unset;
        }
    }

    &.relative {
        position: relative;
    }

    &.show-categories {
        transform: rotateX(0deg);
    }

    .categories {
        color: $clr2;

        li:not(:first-child) {
            margin-left: 10px;
        }
    }

    transition: all .2s ease;
}