.sort-bar {
    background-color: #fff;
    margin-bottom: 20px;
    margin-top: 20px;
    z-index: 1;
    height: 70px;

    &.is-sticky {
        position: sticky;
        top: 0;
    }

    &.box-shadow {
        box-shadow: rgba(0, 0, 0, 0.07) 0px 0.266px 1.13052px 0px,
            rgba(0, 0, 0, 0.1) 0px 0.89345px 3.79717px 0px,
            rgba(0, 0, 0, 0.17) 0px 5px 17px 0px;
    }

    .sort-bar-menu {
        gap: 20px;
        color: rgb(34, 35, 37);

        .menu-item {
            position: relative;

            .menu-title {
                border: 1px solid #dadbdd;
                border-radius: 4px;
                padding: 0 6px;
                cursor: pointer;
            }

            .menu-content {
                position: absolute;
                top: 100%;
                left: 0;
                margin-top: 8px;
                z-index: 2;
                background-color: #fff;
                border: 1px solid #dadbdd;
                border-radius: 4px;
                opacity: 0;
                visibility: hidden;
                cursor: auto;
                color: #62646a;

                &.active {
                    opacity: 1;
                    visibility: unset;
                }

                .budget-filter {
                    padding: 12px 24px;
                    gap: 25px;
                    pointer-events: all;

                    label {
                        color: rgb(149, 151, 157);

                        .input-container {

                            input {
                                outline: 1px solid #dadbdd;
                                height: 36px;
                                width: 120px;
                                padding-left: 10px;
                                margin-top: 4px;
                                border-radius: 4px;

                                &[type=number] {
                                    -moz-appearance: textfield;
                                }

                                &::-webkit-outer-spin-button,
                                input::-webkit-inner-spin-button {
                                    -webkit-appearance: none;
                                    margin: 0;
                                }
                            }

                            span {
                                position: absolute;
                                top: 13px;
                                right: 13px;
                            }
                        }
                    }
                }

                .delivery-time-filter {
                    padding: 12px 24px;

                    .radio-list {
                        .radio-item-wrapper {
                            min-width: 214px;

                            label {
                                padding: 6px 0;
                                margin: 4px 0;
                                font-weight: 600;
                                color: #404145;
                                cursor: pointer;

                                input[type='radio'] {
                                    display: none;
                                }

                                span {
                                    position: relative;
                                    display: inline-block;
                                    width: 18px;
                                    height: 18px;
                                    border: 1px solid #b5b6ba;
                                    border-radius: 50%;
                                    margin-right: 8px;

                                    &::after {
                                        position: absolute;
                                        left: 50%;
                                        top: 50%;
                                        transform: translate(-50%, -50%) scale(0);
                                        height: 8px;
                                        width: 8px;
                                        background: #95979d;
                                        border-radius: 50%;
                                        content: "";
                                    }

                                    &.checked {
                                        &::after {
                                            transform: translate(-50%, -50%) scale(1);
                                        }
                                    }
                                }
                            }
                        }
                    }
                }

                .btns-row {
                    border-top: 1px solid #dadbdd;
                    padding: 16px 24px;

                    .apply {
                        background-color: $clr1;
                        padding: 7px 12px;
                        color: #fff;
                        border-radius: 4px;
                        font-weight: bold;
                        font-size: 14px;
                    }

                    .clear-all {
                        font-weight: bold;
                        font-size: 14px;
                        color: rgb(149, 151, 157);

                        &:hover {
                            color: $clr1;
                        }

                        transition: color .2s;
                    }
                }
            }
        }
    }

    .arrow-container {
        margin-top: 5px;
    }
}